# Sentence Selection

Holy Lovenia / 13515113

In [8]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Data Preparation

In [9]:
from nltk import RegexpTokenizer
from pandas.io.json import json_normalize


import json
import pandas as pd
import re

### Read original data

In [10]:
data = []
with open('dataset/SQuAD/train-v2.0.json') as f:
    json_data = json.load(f)['data']

    for i in range(len(json_data)):
        json_data_i = json_data[i]['paragraphs']
        
        for j in range(1):
            paragraph = json_data_i[j]['context']
                
            data.append(paragraph)

### Preprocess data

In [11]:
preprocessed_data = []
with open('dataset/SQuAD/train-v2.0.json') as f:
    json_data = json.load(f)['data']

    for i in range(len(json_data)):
        json_data_i = json_data[i]['paragraphs']
        
        for j in range(1):
            paragraph = json_data_i[j]['context']
            
            # replace all dictionary phonetic with ''
            paragraph = re.sub('\/.*\ˈ.*\/', '', paragraph)
            
            # replace all japanese characters with ''
            paragraph = re.sub('[\u3000-\u303f\u3040-\u309f\u30a0-\u30ff\uff00-\uff9f\u4e00-\u9faf\u3400-\u4dbf]+', '', paragraph)
            paragraph = re.sub(r'[^\x00-\x7f]',r'', paragraph) 
            
            # replace dots in the center of words
            words = paragraph.split(' ')
            for i in range(len(words)):
                if(words[i].find('.') != len(words[i]) - 1 and words[i].find('.') != -1):
                    words[i] = words[i].replace('.', '')
                if(words[i].find(',') != len(words[i]) - 1 and words[i].find(',') != -1):
                    words[i] = words[i].replace(',', '')

            paragraph = ' '.join(words)
            
            data_i_j = paragraph.split('.')
            
            paragraph = []
            for k in range(len(data_i_j)):
                tokenizer = RegexpTokenizer('[\w\/\&\-\:]+', flags=re.UNICODE)
    
                token_list = tokenizer.tokenize(data_i_j[k])
                token_list = [token.strip() for token in token_list if len(token.strip()) > 1 or token.lower() == 'a']
            
                if token_list != []:
                    paragraph.append(token_list)
                
            preprocessed_data.append(paragraph)

## Text Summarization

In [48]:
from sentence_selection.lsa import SteinbergerJezekLSA
from sentence_selection.text_rank import TextRank
from sentence_selection.multi_word_phrase_extraction import MultiWordPhraseExtractor

### TextRank

In [49]:
tr_jaccard = TextRank(similarity='jaccard')
tr_cosine = TextRank(similarity='cosine')

### MultiWordPhraseExtraction

In [50]:
mwpe = MultiWordPhraseExtractor()

### LSA

In [51]:
lsa_tfidf = SteinbergerJezekLSA(matrix_technique='tfidf')

In [52]:
lsa_binary = SteinbergerJezekLSA(matrix_technique='binary')

### Usage example

In [31]:
count_same_results = 0

for i in range(len(preprocessed_data)):
    # LSA
    lsa_tfidf_result = lsa_tfidf.summarize(preprocessed_data[i])
    lsa_binary_result = lsa_binary.summarize(preprocessed_data[i])
    
    # MWPE
    multiword_result = mwpe.summarize(preprocessed_data[i])
    
    # TextRank
    tr_jaccard_result = tr_jaccard.summarize(preprocessed_data[i])
    tr_cosine_result = tr_cosine.summarize(preprocessed_data[i])
    
    if len(preprocessed_data[i]) > 1:
        print(i, lsa_tfidf_result, lsa_binary_result, multiword_result, tr_jaccard_result, tr_cosine_result)
    else:
        print(i, 'passage only has 1 sentence')

0 [0, 2] [3, 1] [0, 1] [0, 3] [1, 2]
1 [2, 0] [1, 0] [0, 1] [1, 0] [2, 0]

/home/holy/Projects/question-answer-generation/sentence_selection/text_rank.py:71: RuntimeWarning: invalid value encountered in true_divide
  """

2 [5, 4] [2, 6] [2, 4] [4, 1] [6, 0]
3 [2, 1] [0, 3] [0, 1] [1, 2] [3, 1]
4 [4, 1] [2, 0] [0, 2] [4, 2] [3, 0]
5 [3, 0] [1, 2] [2, 0] [0, 2] [1, 3]
6 passage only has 1 sentence
7 [1, 2] [0, 1] [1, 0] [0, 1] [2, 1]
8 [0, 1] [2, 1] [1, 2] [0, 1] [1, 0]
9 passage only has 1 sentence
10 [0, 1] [1, 0] [0, 1] [1, 0] [0, 1]
11 [2, 0] [1, 0] [0, 1] [0, 1] [2, 0]
12 [2, 1] [3, 1] [3, 0] [1, 3] [2, 3]
13 passage only has 1 sentence
14 [1, 0] [2, 0] [0, 2] [2, 1] [0, 1]
15 [1, 2] [0, 2] [0, 2] [1, 2] [0, 1]
16 [3, 0] [2, 0] [0, 1] [4, 3] [3, 1]
17 [1, 0] [1, 0] [0, 1] [1, 0] [0, 1]
18 [1, 0] [3, 1] [0, 1] [3, 1] [3, 2]
19 [1, 2] [0, 2] [1, 2] [1, 0] [2, 0]
20 [1, 2] [0, 2] [0, 2] [2, 0] [1, 2]
21 [1, 2] [0, 2] [0, 1] [1, 2] [1, 2]
22 [0, 2] [1, 2] [2, 0] [2, 1] [2, 0]
23 passage only has 1 sentence
24 [0, 1] [1, 0] [0, 1] [0, 1] [1, 0]
25 [1, 2] [2, 3] [0, 1] [1, 3] [3, 1]
26 [4, 3] [1, 4] [4, 0] [1, 2] [0, 3]
27 [2, 1] [3, 0] [3, 0] [1, 0] [4, 0]
28 [2, 1] [0, 1] [0, 1] [1, 0] [1, 0]
29 [1, 2] [2, 0] [0, 1] [1, 0] [0, 2]
30 [1, 0] [1, 0] [1, 0] [0, 1] [1, 0]
31 [0, 1] [1, 0] [0, 1] [0, 1] [1, 0]
32 [1, 0] [0, 1] [0, 1] [0, 1] [0, 1]
33 passage only has 1 sentence
34 [1, 0] [2, 0] [2, 0] [1, 2] [2, 1]
35 [1, 0] [2, 0] [0, 1] [0, 2] [2, 1]
36 passage only has 1 sentence
37 [1, 0] [0, 1] [1, 0] [1, 0] [1, 0]
38 [0, 3] [1, 2] [0, 1] [5, 0] [5, 2]
39 [2, 1] [5, 4] [4, 0] [2, 1] [4, 5]
40 passage only has 1 sentence
41 [0, 2] [1, 2] [2, 0] [2, 1] [0, 2]
42 [3, 0] [1, 4] [1, 0] [2, 4] [4, 0]
43 passage only has 1 sentence
44 [1, 3] [0, 1] [1, 0] [0, 2] [2, 0]
45 [0, 1] [1, 0] [1, 0] [0, 1] [1, 0]
46 [3, 5] [6, 4] [2, 0] [5, 2] [0, 6]
47 [3, 2] [0, 2] [1, 2] [1, 2] [1, 2]
48 [0, 1] [1, 0] [1, 0] [1, 0] [0, 1]
49 [3, 1] [2, 3] [2, 0] [1, 3] [1, 3]
50 [2, 7] [4, 8] [3, 4] [8, 7] [1, 4]
51 [2, 1] [1, 0] [1, 2] [0, 1] [0, 1]
52 [0, 1] [1, 0] [0, 1] [1, 0] [1, 0]
53 [2, 3] [0, 1] [0, 1] [1, 0] [1, 3]
54 [2, 0] [6, 4] [1, 4] [5, 3] [6, 4]
55 passage only has 1 sentence
56 [1, 3] [2, 3] [2, 0] [0, 3] [0, 4]
57 [7, 0] [1, 5] [6, 0] [7, 4] [3, 4]
58 [1, 0] [0, 1] [0, 1] [1, 0] [1, 0]
59 [1, 0] [0, 1] [1, 0] [1, 0] [1, 0]
60 [1, 0] [0, 1] [0, 1] [0, 1] [1, 0]
61 [1, 0] [0, 1] [0, 1] [1, 0] [1, 0]
62 passage only has 1 sentence
63 [2, 0] [0, 1] [0, 1] [1, 0] [0, 2]
64 [1, 0] [2, 1] [0, 1] [1, 0] [2, 1]
65 [1, 0] [2, 1] [1, 0] [1, 2] [2, 1]
66 [3, 5] [4, 0] [0, 1] [6, 7] [3, 1]
67 [2, 0] [2, 1] [0, 1] [0, 3] [1, 0]
68 passage only has 1 sentence
69 [2, 1] [0, 1] [0, 1] [3, 1] [0, 1]
70 [4, 2] [1, 3] [1, 0] [2, 0] [2, 0]
71 [0, 1] [1, 0] [0, 1] [0, 1] [0, 1]
72 [0, 2] [3, 1] [1, 2] [1, 0] [1, 0]
73 [0, 2] [4, 3] [0, 2] [2, 0] [1, 2]
74 [3, 1] [0, 2] [0, 1] [4, 3] [1, 0]
75 [2, 1] [1, 0] [1, 0] [0, 1] [0, 2]
76 [3, 0] [2, 0] [0, 2] [4, 3] [0, 5]
77 [4, 3] [0, 2] [0, 1] [0, 4] [0, 4]
78 [0, 1] [1, 0] [1, 0] [1, 0] [0, 1]
79 [2, 1] [0, 1] [0, 1] [1, 0] [2, 0]
80 [2, 1] [0, 3] [0, 1] [2, 5] [4, 2]
81 [1, 0] [2, 0] [2, 0] [1, 0] [1, 2]
82 [1, 0] [0, 1] [0, 1] [1, 0] [0, 1]
83 [3, 0] [2, 0] [0, 1] [1, 2] [1, 3]
84 [1, 4] [5, 1] [1, 0] [0, 4] [3, 2]
85 [0, 2] [1, 2] [1, 0] [2, 1] [1, 0]
86 [1, 0] [1, 0] [0, 1] [1, 0] [1, 0]
87 passage only has 1 sentence
88 [0, 1] [1, 0] [1, 0] [0, 1] [0, 1]
89 [0, 3] [2, 1] [1, 0] [1, 3] [2, 0]
90 [2, 0] [3, 0] [0, 1] [2, 1] [0, 3]
91 [0, 1] [0, 2] [0, 2] [3, 0] [3, 1]
92 [0, 2] [1, 0] [1, 0] [0, 1] [2, 1]
93 [2, 0] [1, 0] [0, 1] [1, 2] [1, 0]
94 [1, 0] [0, 2] [0, 1] [1, 0] [2, 1]
95 [0, 1] [2, 3] [0, 1] [0, 2] [1, 2]
96 [0, 1] [0, 1] [0, 1] [1, 0] [1, 0]
97 [1, 0] [3, 2] [3, 0] [3, 1] [0, 1]
98 [0, 1] [1, 2] [1, 2] [0, 2] [2, 0]
99 [0, 2] [1, 2] [2, 0] [0, 1] [1, 0]
100 [0, 1] [1, 0] [0, 1] [0, 1] [1, 0]
101 [1, 2] [4, 2] [2, 3] [5, 3] [5, 3]
102 [1, 2] [2, 0] [1, 0] [0, 1] [1, 0]
103 [1, 3] [0, 2] [0, 2] [1, 0] [0, 2]
104 [1, 0] [0, 1] [0, 1] [0, 1] [0, 1]
105 [2, 1] [0, 4] [0, 1] [3, 1] [0, 2]
106 [1, 0] [3, 2] [0, 1] [0, 2] [0, 3]
107 [3, 5] [0, 1] [0, 2] [9, 5] [3, 6]
108 [2, 3] [0, 1] [0, 1] [1, 3] [0, 1]
109 [0, 1] [1, 0] [0, 1] [0, 1] [1, 0]
110 [2, 1] [0, 3] [3, 0] [2, 0] [1, 3]
111 [5, 7] [6, 8] [1, 6] [0, 5] [6, 2]
112 [4, 1] [0, 3] [0, 1] [2, 0] [2, 0]
113 [1, 0] [1, 0] [1, 0] [0, 1] [1, 0]
114 [1, 2] [0, 3] [0, 1] [0, 1] [3, 1]
115 [0, 1] [1, 2] [2, 0] [2, 1] [1, 0]
116 [2, 0] [1, 3] [3, 0] [0, 5] [3, 4]
117 [0, 1] [4, 3] [2, 3] [4, 1] [2, 6]
118 [4, 0] [3, 1] [3, 0] [0, 5] [8, 5]
119 [2, 1] [0, 1] [1, 0] [0, 2] [1, 2]
120 [8, 5] [1, 2] [6, 5] [7, 8] [4, 3]
121 [0, 3] [6, 2] [6, 1] [7, 3] [0, 1]
122 [0, 2] [2, 1] [2, 1] [3, 1] [3, 1]
123 [1, 0] [2, 1] [0, 1] [0, 2] [2, 1]
124 [1, 3] [6, 4] [3, 5] [0, 3] [5, 6]
125 [4, 0] [6, 2] [0, 1] [4, 3] [6, 3]
126 [5, 1] [3, 4] [1, 3] [5, 2] [0, 2]
127 [1, 3] [0, 2] [2, 0] [3, 0] [3, 1]
128 [1, 4] [0, 4] [0, 1] [1, 3] [1, 3]
129 [1, 0] [2, 1] [0, 2] [0, 2] [2, 0]
130 [3, 9] [4, 8] [5, 0] [7, 2] [3, 8]
131 [1, 0] [0, 1] [1, 0] [1, 0] [1, 0]
132 [3, 0] [1, 2] [0, 1] [3, 2] [2, 3]
133 [1, 3] [0, 1] [1, 0] [3, 2] [3, 1]
134 [0, 1] [2, 3] [0, 1] [0, 2] [0, 2]
135 [8, 5] [7, 9] [7, 0] [4, 8] [0, 6]
136 [2, 1] [3, 1] [1, 3] [1, 2] [3, 1]
137 [5, 8] [1, 6] [0, 8] [5, 3] [5, 7]
138 [4, 3] [5, 0] [4, 0] [1, 3] [4, 2]
139 [3, 1] [0, 1] [1, 2] [1, 2] [3, 1]
140 [6, 4] [2, 7] [7, 0] [4, 6] [7, 5]
141 [1, 0] [2, 3] [0, 1] [3, 1] [3, 1]
142 [1, 2] [0, 3] [2, 0] [1, 2] [3, 0]
143 [10, 1] [3, 7] [3, 0] [0, 9] [2, 6]
144 [1, 2] [4, 0] [1, 3] [1, 2] [2, 3]
145 [2, 1] [0, 4] [0, 1] [2, 3] [3, 2]
146 [3, 1] [0, 1] [0, 1] [3, 0] [1, 3]
147 [3, 4] [0, 1] [0, 2] [0, 2] [0, 1]
148 [1, 3] [0, 2] [3, 0] [2, 3] [0, 3]
149 [2, 3] [3, 0] [3, 0] [1, 3] [2, 3]
150 [0, 2] [1, 2] [1, 0] [2, 1] [2, 0]
151 [4, 5] [1, 3] [1, 6] [4, 3] [3, 6]
152 [5, 1] [3, 4] [4, 0] [5, 4] [2, 4]
153 [0, 1] [2, 0] [0, 2] [0, 2] [2, 0]
154 [2, 0] [1, 5] [1, 2] [3, 2] [3, 5]
155 [1, 2] [2, 0] [2, 0] [1, 0] [2, 0]
156 [3, 2] [4, 1] [2, 3] [3, 2] [4, 1]
157 [3, 2] [4, 1] [0, 2] [0, 3] [0, 3]
158 [3, 1] [0, 3] [0, 1] [3, 0] [0, 3]
159 [0, 3] [6, 1] [2, 4] [5, 1] [3, 5]
160 [7, 1] [6, 5] [1, 4] [7, 6] [6, 3]
161 [4, 1] [2, 0] [2, 0] [2, 4] [0, 2]
162 [4, 1] [0, 3] [0, 2] [2, 0] [2, 3]
163 [2, 0] [1, 4] [0, 1] [2, 1] [0, 1]
164 [2, 5] [0, 6] [6, 0] [2, 4] [1, 3]
165 [3, 4] [7, 1] [1, 0] [5, 3] [6, 3]
166 [0, 3] [1, 4] [4, 0] [0, 4] [4, 3]
167 [4, 2] [0, 3] [0, 2] [2, 3] [1, 4]
168 [4, 6] [0, 1] [3, 2] [1, 5] [1, 4]
169 [3, 1] [2, 0] [0, 2] [0, 3] [1, 2]
170 [3, 0] [1, 4] [1, 2] [0, 4] [1, 0]
171 [4, 2] [1, 3] [4, 3] [1, 4] [2, 4]
172 [3, 0] [2, 4] [4, 0] [1, 2] [2, 0]
173 [8, 9] [6, 3] [6, 7] [5, 2] [8, 1]
174 [2, 5] [0, 1] [1, 0] [2, 6] [1, 4]
175 [5, 4] [2, 3] [4, 3] [4, 6] [2, 3]
176 [3, 4] [1, 4] [1, 0] [2, 3] [2, 1]
177 [3, 0] [1, 2] [3, 0] [3, 2] [0, 1]
178 [0, 1] [1, 0] [0, 1] [1, 0] [0, 1]
179 [2, 3] [0, 2] [2, 0] [0, 1] [0, 2]
180 [4, 0] [0, 2] [2, 0] [1, 4] [3, 4]
181 [6, 2] [3, 5] [6, 0] [6, 3] [3, 6]
182 [2, 4] [1, 0] [1, 0] [2, 0] [2, 1]
183 [4, 3] [2, 1] [0, 1] [4, 2] [0, 1]
184 [1, 2] [0, 3] [0, 1] [1, 0] [1, 0]
185 [2, 1] [0, 1] [0, 1] [0, 2] [0, 2]
186 [0, 5] [4, 1] [1, 0] [0, 1] [1, 2]
187 [3, 1] [0, 2] [0, 1] [3, 0] [2, 0]
188 [3, 2] [1, 0] [0, 1] [0, 1] [1, 2]
189 [2, 0] [1, 0] [0, 1] [1, 0] [0, 1]
190 [1, 2] [0, 3] [0, 3] [0, 1] [0, 1]
191 [2, 0] [1, 0] [1, 2] [0, 1] [1, 2]
192 [1, 4] [0, 2] [2, 3] [4, 2] [1, 2]
193 [3, 1] [2, 0] [0, 2] [0, 3] [0, 3]
194 [5, 1] [0, 7] [0, 1] [1, 2] [4, 6]
195 passage only has 1 sentence
196 [4, 0] [3, 0] [4, 3] [2, 4] [1, 0]
197 [2, 0] [1, 0] [0, 1] [1, 0] [1, 0]
198 [3, 2] [0, 1] [0, 1] [2, 4] [4, 1]
199 [0, 1] [1, 0] [0, 1] [0, 1] [1, 0]
200 [5, 4] [1, 0] [0, 1] [3, 5] [3, 5]
201 [3, 10] [4, 1] [1, 0] [2, 3] [10, 2]
202 [0, 3] [2, 7] [7, 0] [0, 4] [2, 4]
203 [8, 2] [5, 7] [1, 7] [3, 2] [4, 2]
204 [2, 4] [6, 1] [3, 8] [2, 0] [5, 0]
205 [1, 2] [0, 2] [0, 2] [0, 1] [2, 1]
206 [4, 1] [3, 5] [0, 5] [1, 0] [1, 5]
207 [1, 4] [3, 2] [2, 0] [4, 2] [0, 4]
208 [3, 4] [1, 0] [0, 2] [2, 1] [4, 2]
209 [2, 1] [1, 0] [2, 0] [2, 1] [1, 2]
210 [4, 3] [0, 1] [0, 1] [3, 0] [1, 2]
211 [3, 2] [4, 1] [4, 0] [2, 3] [2, 1]
212 [0, 2] [1, 2] [1, 0] [2, 0] [2, 0]
213 [1, 3] [6, 0] [0, 5] [1, 2] [4, 5]
214 [3, 1] [2, 5] [4, 5] [1, 4] [0, 3]
215 [1, 0] [3, 2] [4, 0] [0, 4] [2, 0]
216 [0, 3] [0, 2] [0, 1] [1, 2] [1, 0]
217 [0, 3] [4, 2] [0, 1] [1, 2] [4, 2]
218 [2, 5] [3, 1] [3, 2] [0, 5] [2, 1]

219 [2, 0] [1, 3] [0, 1] [2, 3] [0, 2]
220 [3, 1] [2, 5] [5, 0] [3, 1] [4, 2]
221 [0, 1] [2, 0] [0, 1] [2, 0] [1, 0]
222 [8, 7] [1, 2] [2, 9] [8, 1] [8, 6]
223 [1, 3] [4, 2] [4, 0] [0, 1] [2, 3]
224 [4, 2] [0, 3] [0, 1] [1, 3] [1, 3]
225 [1, 0] [2, 3] [1, 0] [0, 2] [2, 0]
226 [2, 4] [0, 1] [0, 3] [4, 3] [1, 4]
227 [4, 2] [0, 1] [0, 2] [4, 0] [4, 1]
228 [1, 2] [0, 3] [0, 1] [4, 3] [4, 2]
229 [0, 2] [1, 3] [0, 1] [0, 1] [3, 0]
230 [3, 5] [4, 1] [6, 0] [8, 0] [2, 1]
231 [3, 4] [2, 6] [2, 0] [2, 5] [0, 1]
232 [4, 1] [2, 0] [1, 0] [1, 7] [5, 7]
233 [2, 4] [4, 0] [2, 3] [3, 1] [3, 4]
234 [3, 1] [4, 2] [4, 0] [1, 3] [1, 3]
235 [2, 0] [3, 1] [3, 0] [0, 3] [2, 1]
236 [3, 1] [1, 0] [1, 0] [3, 1] [1, 3]
237 [1, 3] [2, 6] [6, 0] [4, 1] [3, 6]
238 [1, 3] [5, 4] [0, 5] [1, 5] [2, 3]
239 [2, 0] [4, 1] [0, 1] [0, 3] [0, 3]
240 [6, 1] [4, 2] [4, 0] [0, 1] [6, 0]
241 [2, 6] [1, 0] [1, 5] [3, 4] [2, 5]
242 [6, 3] [1, 0] [4, 0] [3, 1] [4, 0]
243 [2, 0] [1, 2] [1, 0] [1, 2] [1, 2]
244 [1, 0] [0, 2] [0, 1] [1, 0] [1, 2]
245 [2, 1] [0, 3] [0, 1] [2, 3] [3, 1]
246 [3, 2] [0, 1] [0, 1] [3, 1] [0, 3]
247 [2, 5] [4, 3] [4, 0] [1, 5] [6, 5]
248 [2, 3] [0, 3] [0, 1] [1, 3] [1, 3]
249 [1, 2] [3, 0] [0, 3] [2, 3] [0, 3]
250 [3, 2] [1, 0] [0, 1] [3, 1] [1, 3]
251 [1, 0] [2, 0] [2, 0] [1, 2] [0, 1]
252 [0, 4] [5, 3] [3, 4] [0, 3] [2, 4]
253 [2, 3] [0, 1] [1, 0] [0, 2] [3, 1]
254 [1, 2] [3, 0] [1, 2] [1, 0] [0, 1]
255 [2, 0] [1, 0] [1, 0] [0, 1] [1, 2]
256 [6, 5] [4, 3] [0, 2] [5, 2] [6, 5]
257 [3, 1] [0, 3] [0, 3] [2, 3] [1, 0]
258 [4, 0] [3, 2] [3, 0] [1, 3] [2, 3]
259 [4, 2] [0, 3] [0, 1] [3, 4] [5, 2]
260 [1, 0] [3, 2] [1, 0] [2, 1] [3, 1]
261 [1, 3] [2, 0] [2, 0] [2, 0] [0, 2]
262 [1, 0] [2, 0] [2, 0] [1, 2] [1, 0]
263 [1, 2] [4, 0] [4, 0] [0, 4] [3, 2]
264 [3, 1] [2, 0] [1, 0] [3, 2] [2, 0]
265 [2, 3] [1, 0] [0, 1] [0, 3] [2, 1]
266 [1, 4] [3, 0] [0, 1] [3, 4] [2, 1]
267 [1, 0] [0, 1] [1, 0] [0, 1] [1, 0]
268 [2, 3] [1, 3] [1, 2] [2, 1] [1, 2]
269 [0, 2] [3, 1] [2, 3] [2, 1] [0, 2]
270 [1, 0] [1, 3] [3, 0] [2, 1] [1, 3]
271 [1, 0] [0, 2] [0, 1] [2, 0] [2, 0]
272 [2, 1] [0, 2] [1, 0] [2, 0] [0, 2]
273 [3, 0] [2, 1] [2, 0] [0, 1] [2, 3]
274 [1, 3] [2, 0] [1, 0] [1, 4] [1, 2]
275 [2, 4] [5, 3] [5, 0] [2, 5] [6, 1]
276 passage only has 1 sentence
277 [7, 1] [3, 2] [0, 4] [1, 6] [5, 6]
278 [4, 5] [2, 0] [0, 1] [3, 5] [0, 2]
279 [0, 3] [1, 3] [0, 1] [2, 1] [2, 0]
280 [3, 1] [0, 1] [2, 3] [3, 0] [0, 2]
281 [2, 4] [1, 3] [1, 3] [2, 4] [5, 1]
282 [5, 1] [0, 4] [0, 4] [2, 5] [0, 4]
283 [5, 6] [3, 0] [0, 1] [1, 5] [1, 6]
284 passage only has 1 sentence
285 [1, 0] [2, 0] [0, 1] [2, 0] [0, 2]
286 [2, 0] [0, 2] [0, 1] [3, 2] [3, 0]
287 [1, 0] [2, 0] [1, 2] [0, 2] [2, 0]
288 [4, 3] [2, 0] [0, 1] [0, 2] [3, 0]
289 [2, 0] [8, 3] [6, 1] [8, 2] [0, 5]
290 [0, 1] [1, 0] [0, 1] [1, 0] [1, 0]
291 [5, 6] [3, 2] [3, 4] [0, 1] [5, 4]
292 [0, 3] [1, 4] [2, 3] [0, 3] [2, 3]
293 [1, 4] [2, 3] [1, 2] [3, 2] [1, 0]
294 [0, 1] [2, 0] [0, 1] [0, 2] [2, 0]
295 [2, 1] [4, 5] [2, 1] [2, 3] [0, 2]
296 [1, 3] [0, 2] [0, 1] [2, 3] [0, 1]
297 [9, 3] [4, 5] [1, 0] [9, 0] [8, 4]
298 [0, 2] [0, 1] [0, 1] [1, 0] [1, 0]
299 [1, 0] [2, 3] [0, 1] [1, 4] [5, 4]
300 [0, 1] [3, 2] [1, 0] [0, 2] [3, 1]
301 [0, 2] [1, 3] [0, 1] [2, 3] [0, 4]
302 [1, 3] [0, 2] [0, 2] [1, 0] [0, 3]
303 [0, 1] [3, 1] [0, 3] [3, 0] [0, 1]
304 [7, 3] [1, 5] [1, 0] [4, 2] [2, 0]
305 [1, 2] [0, 3] [0, 1] [3, 1] [3, 2]
306 [1, 2] [1, 0] [0, 3] [3, 2] [3, 2]
307 [3, 1] [0, 3] [0, 1] [1, 0] [1, 0]
308 [0, 1] [1, 0] [1, 0] [0, 1] [1, 0]
309 [1, 3] [0, 4] [0, 2] [3, 1] [3, 4]
310 [3, 2] [0, 1] [0, 1] [3, 1] [2, 0]
311 [2, 1] [0, 1] [1, 0] [0, 2] [2, 1]
312 [0, 2] [1, 4] [0, 4] [1, 0] [3, 0]
313 [0, 2] [1, 3] [1, 3] [0, 1] [2, 1]
314 [2, 1] [0, 1] [1, 2] [0, 2] [2, 0]
315 [2, 0] [0, 1] [1, 0] [2, 0] [0, 1]
316 [6, 4] [7, 5] [1, 7] [2, 3] [0, 2]
317 [3, 2] [0, 1] [0, 1] [3, 1] [1, 2]
318 [3, 2] [1, 2] [2, 0] [0, 1] [2, 3]
319 [1, 2] [0, 1] [0, 1] [0, 1] [0, 1]
320 [3, 0] [2, 1] [0, 2] [2, 3] [3, 1]
321 [5, 0] [2, 6] [0, 1] [4, 1] [5, 4]
322 [2, 0] [3, 0] [0, 1] [0, 2] [1, 2]
323 [0, 3] [4, 2] [4, 0] [1, 3] [1, 4]
324 [2, 0] [1, 0] [2, 0] [0, 2] [1, 0]
325 [0, 2] [1, 2] [0, 1] [2, 1] [1, 2]
326 [3, 2] [0, 4] [2, 3] [2, 1] [2, 0]
327 [0, 1] [2, 1] [2, 0] [0, 2] [2, 0]
328 [2, 7] [3, 5] [4, 1] [0, 6] [6, 0]
329 [2, 1] [0, 1] [0, 1] [1, 2] [2, 0]
330 [1, 2] [2, 1] [2, 0] [0, 2] [0, 1]
331 [1, 2] [0, 2] [0, 2] [1, 0] [2, 1]
332 [1, 2] [3, 0] [0, 1] [1, 3] [0, 1]
333 [4, 0] [3, 0] [1, 2] [2, 1] [1, 0]
334 [0, 4] [3, 1] [0, 1] [0, 1] [3, 2]
335 [0, 1] [1, 0] [0, 1] [0, 1] [0, 1]
336 [0, 4] [1, 3] [3, 0] [0, 3] [1, 2]
337 [1, 3] [4, 2] [3, 0] [3, 5] [2, 5]
338 [0, 4] [3, 1] [0, 1] [4, 1] [2, 3]
339 [0, 1] [1, 0] [1, 0] [1, 0] [0, 1]
340 [4, 3] [2, 1] [4, 0] [2, 3] [1, 2]
341 [2, 4] [0, 3] [2, 3] [4, 1] [3, 2]
342 [1, 2] [3, 0] [0, 2] [1, 3] [0, 3]
343 [1, 4] [3, 0] [1, 3] [4, 3] [1, 0]
344 [0, 2] [2, 4] [2, 3] [2, 5] [4, 3]
345 [2, 4] [1, 3] [4, 0] [3, 0] [3, 1]
346 [1, 0] [2, 3] [1, 2] [3, 0] [4, 2]
347 [0, 1] [2, 3] [1, 2] [2, 0] [0, 3]
348 [3, 2] [0, 2] [0, 1] [1, 4] [1, 4]
349 [0, 2] [2, 0] [0, 1] [1, 0] [1, 0]
350 [0, 1] [0, 1] [0, 1] [0, 1] [0, 1]
351 [0, 1] [2, 3] [3, 0] [3, 0] [3, 0]
352 [2, 0] [1, 0] [2, 0] [0, 1] [1, 2]
353 [1, 4] [3, 4] [0, 2] [2, 4] [0, 4]
354 [1, 0] [2, 3] [0, 2] [2, 3] [2, 0]
355 [4, 1] [2, 1] [2, 3] [1, 3] [3, 1]
356 [0, 1] [1, 0] [0, 1] [1, 0] [1, 0]
357 [0, 1] [2, 1] [2, 0] [1, 0] [2, 0]
358 [0, 1] [1, 0] [1, 0] [0, 1] [0, 1]
359 [0, 1] [3, 4] [1, 5] [0, 2] [5, 0]
360 [1, 2] [3, 0] [0, 1] [4, 1] [0, 4]
361 [2, 1] [0, 1] [1, 0] [2, 0] [0, 2]
362 [3, 0] [2, 1] [2, 0] [0, 1] [2, 0]
363 [3, 0] [2, 1] [2, 0] [0, 1] [2, 1]
364 [4, 1] [1, 0] [0, 3] [4, 0] [2, 3]
365 [1, 3] [0, 4] [0, 1] [2, 0] [0, 3]
366 [2, 1] [0, 2] [1, 0] [1, 2] [1, 2]
367 [1, 0] [2, 3] [0, 2] [1, 2] [2, 0]
368 [2, 0] [1, 3] [3, 0] [2, 1] [2, 0]
369 [1, 0] [0, 1] [0, 1] [1, 0] [0, 1]
370 [4, 1] [2, 3] [0, 2] [1, 2] [2, 3]
371 [1, 3] [4, 5] [2, 0] [3, 0] [3, 6]
372 [3, 0] [0, 2] [0, 2] [1, 0] [3, 2]
373 [1, 0] [2, 0] [2, 0] [2, 0] [1, 2]
374 [2, 1] [4, 3] [2, 3] [2, 0] [4, 2]
375 [4, 6] [1, 2] [1, 2] [4, 6] [2, 5]
376 [0, 5] [4, 1] [0, 6] [5, 6] [0, 4]
377 [0, 5] [2, 1] [3, 0] [1, 5] [1, 2]
378 [1, 4] [0, 3] [2, 1] [2, 1] [0, 3]
379 [3, 1] [0, 1] [1, 3] [3, 1] [0, 3]
380 [1, 3] [2, 4] [0, 1] [3, 0] [5, 3]
381 [6, 3] [8, 7] [0, 2] [6, 5] [0, 3]
382 [0, 1] [0, 1] [0, 1] [2, 1] [1, 2]
383 [0, 1] [2, 1] [2, 0] [2, 0] [0, 2]
384 [0, 2] [3, 1] [3, 0] [2, 3] [2, 0]
385 [3, 4] [1, 5] [0, 1] [0, 4] [5, 2]
386 [1, 2] [3, 2] [0, 1] [0, 1] [2, 1]
387 [2, 6] [1, 5] [1, 2] [3, 6] [4, 0]
388 [1, 0] [3, 1] [0, 3] [0, 3] [3, 0]
389 [3, 4] [5, 2] [0, 1] [4, 0] [0, 4]
390 [1, 3] [2, 0] [3, 0] [3, 1] [2, 0]
391 [1, 0] [2, 0] [0, 1] [1, 2] [0, 1]
392 [2, 0] [1, 3] [2, 3] [2, 1] [1, 0]
393 [5, 2] [0, 3] [1, 2] [5, 1] [5, 4]
394 [2, 1] [0, 1] [1, 2] [1, 0] [0, 2]
395 [0, 3] [2, 3] [3, 0] [1, 2] [1, 0]
396 [3, 1] [0, 3] [0, 1] [2, 1] [2, 3]
397 [4, 3] [0, 1] [1, 0] [4, 0] [3, 0]
398 [3, 0] [1, 4] [3, 4] [0, 2] [1, 4]
399 [2, 3] [1, 0] [2, 1] [4, 2] [1, 0]
400 [0, 1] [1, 0] [1, 0] [0, 1] [1, 0]
401 [1, 0] [4, 3] [4, 0] [1, 4] [1, 4]
402 [3, 2] [1, 0] [0, 2] [1, 3] [2, 0]
403 [3, 1] [3, 1] [3, 0] [2, 1] [1, 2]
404 [0, 1] [3, 1] [2, 0] [0, 1] [0, 3]
405 [3, 4] [5, 3] [0, 1] [1, 0] [1, 5]
406 [1, 0] [2, 0] [0, 1] [2, 0] [1, 0]
407 [1, 2] [0, 2] [0, 1] [1, 0] [2, 1]
408 [1, 0] [4, 3] [1, 2] [2, 3] [4, 1]
409 [1, 0] [2, 3] [2, 0] [0, 2] [0, 2]
410 [1, 3] [0, 4] [0, 2] [3, 0] [3, 4]
411 [0, 4] [3, 5] [0, 1] [1, 0] [3, 1]
412 [1, 0] [0, 1] [0, 1] [1, 0] [0, 1]
413 [3, 4] [6, 7] [7, 0] [5, 1] [2, 1]
414 [3, 0] [4, 5] [4, 0] [2, 0] [4, 1]
415 [1, 0] [3, 2] [3, 2] [1, 3] [0, 1]
416 [1, 0] [2, 0] [0, 2] [2, 1] [0, 1]
417 [2, 4] [3, 4] [0, 3] [0, 2] [3, 2]
418 [1, 4] [0, 3] [1, 0] [3, 1] [4, 3]
419 [2, 1] [0, 3] [3, 0] [2, 0] [0, 3]
420 [0, 2] [3, 1] [2, 3] [3, 0] [2, 1]
421 [0, 1] [4, 2] [0, 1] [2, 3] [0, 1]
422 [3, 0] [0, 1] [0, 1] [3, 0] [3, 0]
423 [1, 0] [2, 1] [1, 0] [1, 2] [2, 1]
424 [1, 0] [2, 3] [2, 0] [1, 2] [2, 0]
425 [2, 0] [1, 0] [0, 1] [1, 0] [2, 0]
426 [1, 2] [3, 0] [0, 1] [1, 0] [1, 0]
427 [5, 6] [2, 3] [0, 1] [4, 6] [3, 1]
428 [1, 0] [3, 2] [0, 1] [1, 3] [0, 3]
429 [0, 1] [5, 2] [3, 0] [0, 2] [1, 3]
430 [7, 2] [0, 8] [3, 5] [7, 3] [3, 2]
431 [2, 3] [0, 1] [0, 3] [1, 0] [2, 3]
432 [1, 2] [2, 0] [2, 1] [1, 2] [0, 2]

433 [0, 2] [2, 1] [2, 0] [1, 2] [1, 2]
434 [5, 1] [2, 3] [2, 0] [0, 5] [0, 6]
435 [2, 1] [1, 0] [0, 3] [2, 1] [4, 0]
436 [1, 0] [0, 1] [1, 0] [0, 1] [1, 0]
437 [0, 4] [2, 4] [0, 1] [1, 3] [2, 0]
438 [3, 1] [1, 2] [1, 0] [1, 0] [2, 1]
439 [4, 1] [3, 5] [0, 3] [1, 0] [0, 2]
440 [3, 7] [0, 2] [4, 0] [1, 7] [5, 1]
441 [2, 3] [1, 0] [0, 1] [2, 1] [3, 1]

In [151]:
idx = 211

for i in range(len(preprocessed_data[idx])):
    print(i, ' '.join(preprocessed_data[idx][i]))

0 jews originated as a national and religious group in the middle east during the second millennium bce in the part of the levant known as the land of israel
1 the merneptah stele appears to confirm the existence of a people of israel associated with the god el somewhere in canaan as far back as the 13th century bce
2 the israelites as an outgrowth of the canaanite population consolidated their hold with the emergence of the kingdom of israel and the kingdom of judah
3 some consider that these canaanite sedentary israelites melded with incoming nomadic groups known as hebrews
4 though few sources in the bible mention the exilic periods in detail the experience of diaspora life from the ancient egyptian rule over the levant to assyrian captivity and exile to babylonian captivity and exile to seleucid imperial rule to the roman occupation and the historical relations between israelites and the homeland became a major feature of jewish history identity and memory

## Create test data for evaluation

In [29]:
test_data = []
original_test_data = []
indices = []
for i in range(len(preprocessed_data)):
    if len(preprocessed_data[i]) >= 10:
        test_data.append(preprocessed_data[i])
        original_test_data.append(data[i])
        indices.append(i)
        print(i, len(preprocessed_data[i]))

107 11
120 10
130 10
135 10
143 11
173 11
201 12
203 11
222 11
297 10

In [28]:
import pandas as pd

In [30]:
test_df = pd.DataFrame({'passage': original_test_data, 'index': indices})

In [31]:
test_df.head()

                                             passage  index
0  In August 1836, two real estate entrepreneurs—...    107
1  In 1636 George, Duke of Brunswick-Lüneburg, ru...    120
2  Known during development as Xbox Next, Xenon, ...    130
3  Biodiversity, a contraction of "biological div...    135
4  John was born to Henry II of England and Elean...    143

In [35]:
test_df.to_csv('dataset/test_sentence_selection_sample.csv')

## Performance Measure

#### Prepare labeled data from CSV

In [36]:
labeled_data = pd.read_csv('dataset/test_sentence_selection.csv')

In [37]:
labeled_data.head()

,Unnamed: 0,passage,index,first,second,third
0,0,"In August 1836, two real estate entrepreneurs—...",107,0,7,1
1,1,"In 1636 George, Duke of Brunswick-Lüneburg, ru...",120,0,2,3
2,2,"Known during development as Xbox Next, Xenon, ...",130,0,8,7
3,3,"Biodiversity, a contraction of ""biological div...",135,0,9,3
4,4,John was born to Henry II of England and Elean...,143,6,8,9

In [44]:
first = labeled_data['first'].tolist()
second = labeled_data['second'].tolist()
third = labeled_data['third'].tolist()

In [61]:
gold_summary = []
for i in range(len(first)):
    idx = labeled_data['index'].tolist()[i]
    gold = ' '.join(preprocessed_data[idx][first[i]]) + '. ' + ' '.join(preprocessed_data[idx][second[i]]) + '. ' + ' '.join(preprocessed_data[idx][third[i]]) + '.'
    gold_summary.append(gold)

#### Prepare results from methods

In [93]:
from nltk.corpus import stopwords

In [94]:
def get_summary(array, preprocessed_data):
    summary = ' '.join(preprocessed_data[array[0]]) + '. ' + ' '.join(preprocessed_data[array[1]]) + '. ' + ' '.join(preprocessed_data[array[2]]) + '.'
    return summary

### TextRank

In [161]:
tr_jaccard = TextRank(similarity='jaccard')
tr_cosine = TextRank(similarity='cosine')

### MultiWordPhraseExtraction

In [162]:
mwpe = MultiWordPhraseExtractor(window_size=5, top_keywords=7)

### LSA

In [163]:
lsa_tfidf = SteinbergerJezekLSA(matrix_technique='tfidf')

In [164]:
lsa_binary = SteinbergerJezekLSA(matrix_technique='binary')

In [165]:
lsa_tfidf_results = []
lsa_binary_results = []
multiword_results = []
tr_jaccard_results = []
tr_cosine_results = []

for i in labeled_data['index'].tolist():
    # LSA
    lsa_tfidf_results.append(get_summary(lsa_tfidf.summarize(preprocessed_data[i], top=3), preprocessed_data[i]))
    lsa_binary_results.append(get_summary(lsa_binary.summarize(preprocessed_data[i], top=3), preprocessed_data[i]))
    
    # MWPE
    multiword_results.append(get_summary(mwpe.summarize(preprocessed_data[i], top=3), preprocessed_data[i]))
    
    # TextRank
    tr_jaccard_results.append(get_summary(tr_jaccard.summarize(preprocessed_data[i], top=3), preprocessed_data[i]))
    tr_cosine_results.append(get_summary(tr_cosine.summarize(preprocessed_data[i], top=3), preprocessed_data[i]))

In [166]:
results = [
    lsa_tfidf_results,
    lsa_binary_results,
    multiword_results,
    tr_jaccard_results,
    tr_cosine_results
]

In [131]:
window_size = [3, 4, 5]
keywords = [5, 6, 7]

In [137]:
results = []
for w in window_size:
    for k in keywords:
        print(w, k)
        mwpe = MultiWordPhraseExtractor(window_size=w, top_keywords=k)
        multiword_results = []
        for i in labeled_data['index'].tolist():
            # MWPE
            multiword_results.append(get_summary(mwpe.summarize(preprocessed_data[i], top=3), preprocessed_data[i]))
            print(mwpe.phrases)
        results.append(multiword_results)

3 5
['sizable numbers', 'sizable older', 'allenfrom john']
['iv semi-salic', 'iv law', 'iv william', 'succession law']
['mac g5', 'mac power', 'mac apple', 'mac hardware']
['pacific sea', 'pacific surface', 'pacific western']
['histories governance', 'histories own', 'histories traditions']
['bank peninsula', 'bank west', 'bank sinai', 'peninsula part']
['mercury freddie', 'mercury smile', 'mercury band']
['gdr period', 'gdr church', 'gdr membership', 'gdr lutheranism']
['agrarianism mohism', 'agrarianism confucianism', 'agrarianism legalism', 'taoism agrarianism']
['direct state', 'direct free', 'irish state', 'mention direct']
3 6
['sizable numbers', 'sizable older', 'allenfrom john', 'allenfrom new']
['iv semi-salic', 'iv law', 'iv william', 'succession law', 'male succession']
['mac hardware', 'mac g5', 'mac power', 'mac apple', 'power spotted']
['pacific western', 'pacific sea', 'pacific surface', 'temperature sea']
['histories governance', 'histories own', 'histories traditions']
['bank peninsula', 'bank west', 'bank sinai', 'peninsula part', 'lebanon part']
['mercury freddie', 'mercury smile', 'mercury band', 'heart sheer']
['gdr period', 'gdr church', 'gdr membership', 'gdr lutheranism', 'church protestant']
['agrarianism mohism', 'agrarianism confucianism', 'agrarianism legalism', 'taoism agrarianism', 'philosophies confucianism']
['state free', 'direct state', 'irish state', 'mention state', 'irish parliament']
3 7
['sizable numbers', 'sizable older', 'allenfrom john', 'allenfrom new', 'allenfrom york']
['iv semi-salic', 'iv law', 'iv william', 'succession law', 'male succession', 'male possible']
['mac hardware', 'mac g5', 'mac power', 'mac apple', 'power spotted', 'kits spotted']
['pacific sea', 'sea surface', 'western sea', 'temperature sea', 'climate high']
['histories governance', 'histories own', 'histories traditions', 'normandy seaboardanjou']
['bank peninsula', 'bank west', 'bank sinai', 'peninsula part', 'lebanon part', 'southern part']
['mercury freddie', 'mercury smile', 'mercury band', 'heart sheer', 'attack sheer']
['gdr period', 'gdr church', 'gdr membership', 'gdr lutheranism', 'church protestant', 'lutheranism thuringia']
['taoism agrarianism', 'taoism mohism', 'agrarianism confucianism', 'agrarianism legalism', 'philosophies confucianism', 'philosophies major']
['mention direct', 'irish state', 'irish free', 'irish parliament', 'monarch mention']
4 5
['allenfrom john', 'allenfrom new', 'allenfrom york', 'allenfrom kirby']
['iv semi-salic', 'iv law', 'iv william']
['mac hardware', 'mac g5', 'mac power', 'mac apple']
['pacific temperature', 'pacific western', 'pacific sea', 'pacific surface']
['histories structures', 'histories governance', 'histories own', 'histories traditions']
['executive head', 'executive ben-gurion', 'executive david', 'executive zionist']
['heart attack', 'heart release', 'heart sheer', 'year heart']
['prominent thuringia', 'prominent christian', 'prominent protestant', 'denomination prominent']
['taoism agrarianism', 'taoism mohism', 'agrarianism confucianism', 'taoism legalism']
['irish direct', 'irish state', 'irish free']
4 6
['john new', 'john kirby', 'john york', 'allenfrom john', 'new slave']
['iv semi-salic', 'iv law', 'iv william', 'male succession']
['mac power', 'mac apple', 'mac spotted', 'mac hardware', 'mac g5']
['pacific coasts', 'pacific temperature', 'pacific western', 'pacific sea']
['histories structures', 'histories governance', 'histories own', 'histories traditions', 'parts own']
['executive zionist', 'executive ben-gurion', 'executive day', 'zionist organization', 'executive head']
['year heart', 'year attack', 'heart release', 'heart sheer', 'year night']
['gdr lutheranism', 'denomination prominent', 'gdr period', 'prominent reformation']
['taoism agrarianism', 'taoism mohism', 'agrarianism confucianism', 'taoism legalism', 'philosophies confucianism']
['irish direct', 'irish state', 'irish free', 'monarch mention']
4 7
['john new', 'john york', 'john kirby', 'allenfrom john', 'new slave', 'john chapman']
['iv semi-salic', 'iv law', 'iv william', 'line succession', 'male succession']
['mac hardware', 'mac g5', 'kits alpha', 'mac power', 'kits apple']
['pacific coasts', 'pacific temperature', 'pacific western', 'pacific sea', 'climate high']
['histories structures', 'histories governance', 'histories own', 'histories traditions', 'parts own']
['executive zionist', 'executive ben-gurion', 'executive day', 'zionist organization', 'executive head', 'executive david']
['year heart', 'year attack', 'heart release', 'heart sheer', 'year night', 'opera night']
['gdr lutheranism', 'denomination prominent', 'gdr period', 'prominent reformation', 'denomination christian']
['taoism agrarianism', 'taoism mohism', 'agrarianism confucianism', 'taoism legalism', 'philosophies confucianism']
['irish direct', 'irish state', 'irish free', 'monarch mention', 'irish parliament']
5 5
['estate entrepreneursaugustus', 'estate john']
['rank holy', 'rank emperor', 'rank roman', 'holy elevated']
['mac g5', 'mac power', 'mac apple', 'mac spotted']
['pacific temperature', 'pacific western', 'pacific sea', 'pacific surface']
['normandy seaboardanjou', 'normandy territories', 'normandy atlantic']
['mandatory plan', 'mandatory un', 'jewish borders']
['rhapsody bohemian', 'rhapsody success', 'rhapsody latter']
['denomination lutheranism', 'denomination prominent', 'denomination reformation', 'denomination christian']
['taoism agrarianism', 'taoism mohism']
['irish parliament', 'irish mention', 'irish direct', 'irish state']
5 6
['estate entrepreneursaugustus', 'estate john', 'estate chapman', 'allenfrom new']
['rank holy', 'rank prince-elector', 'rank emperor', 'holy elevated', 'rank roman']
['mac g5', 'mac power', 'mac apple', 'mac spotted', 'kits power']
['pacific temperature', 'pacific western', 'pacific sea', 'pacific surface', 'pacific coasts']
['histories structures', 'empire normandy', 'histories governance', 'histories parts']
['mandatory plan', 'mandatory un', 'jewish borders', 'mandatory partition']
['rhapsody number', 'rhapsody bohemian', 'rhapsody success', 'rhapsody latter']
['denomination lutheranism', 'denomination prominent', 'denomination reformation', 'denomination christian', 'denomination thuringia']
['taoism agrarianism', 'taoism mohism', 'philosophy confucianism']
['irish state', 'irish free', 'irish mention', 'irish direct', 'irish parliament']
5 7
['estate entrepreneursaugustus', 'estate john', 'estate chapman', 'allenfrom new']
['rank holy', 'rank prince-elector', 'rank emperor', 'holy elevated', 'rank roman', 'dukes elevated']
['mac g5', 'mac power', 'mac apple', 'mac spotted', 'kits power', 'mac hardware']
['pacific temperature', 'pacific western', 'pacific sea', 'pacific surface', 'pacific coasts', 'highest western']
['normandy seaboardanjou', 'normandy atlantic', 'normandy territories', 'histories own', 'normandy englandand']
['mandatory plan', 'mandatory un', 'jewish borders', 'mandatory partition', 'jewish arab']
['rhapsody number', 'rhapsody bohemian', 'rhapsody success', 'rhapsody latter']
['denomination prominent', 'denomination christian', 'denomination thuringia', 'prominent protestant', 'denomination reformation', 'denomination lutheranism']
['taoism agrarianism', 'taoism mohism', 'philosophy confucianism']
['irish parliament', 'irish mention', 'irish direct', 'irish state']

### Content-based measures (Cosine)

In [138]:
import re, math
from collections import Counter

WORD = re.compile(r'\w+')

def get_cosine(text1, text2):
    vec1 = text_to_vector(text1)
    vec2 = text_to_vector(text2)
    
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x]**2 for x in vec1.keys()])
    sum2 = sum([vec2[x]**2 for x in vec2.keys()])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator

def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

In [167]:
cosine_similarity = []
for method_id in range(len(results)):
    cosine_row = []
    for test_id in range(len(gold_summary)):
        cosine_row.append(get_cosine(gold_summary[test_id], results[method_id][test_id]))
    cosine_similarity.append(cosine_row)

In [168]:
eval_result_df = pd.DataFrame({
    'index': indices,
    'lsa_tfidf': cosine_similarity[0],
    'lsa_binary': cosine_similarity[1],
    'mwpe': cosine_similarity[2],
    'tr_jaccard': cosine_similarity[3],
    'tr_cosine': cosine_similarity[4],
})

In [169]:
eval_result_df.mean().round(3)

index         173.100
lsa_tfidf       0.481
lsa_binary      0.719
mwpe            0.783
tr_jaccard      0.694
tr_cosine       0.669
dtype: float64

In [170]:
rounded = eval_result_df.round(3)
rounded.head()

   index  lsa_tfidf  lsa_binary   mwpe  tr_jaccard  tr_cosine
0    107      0.487       0.896  0.931       0.677      0.737
1    120      0.527       0.749  0.872       0.932      0.707
2    130      0.338       0.715  0.671       0.612      0.620
3    135      0.269       0.600  0.613       0.609      0.685
4    143      0.542       0.677  0.608       0.579      0.639

In [171]:
rounded.to_csv('dataset/cosine_without_stopwords_top_3.csv')